<%= provide(:page_title, @post.title) %>
<%= provide(:author, 'active') %>
<div>
  <%= link_to 'Edit', edit_authors_post_path(@post), class: 'btn btn-lg btn-warning' %>
  <%=
    link_to 'Remove', authors_post_path(@post),
    method: :delete, data: { confirm: 'Are you sure to remove?'},
    class: 'btn btn-lg btn-danger' %>
</div>
<div class="row">
  <div class="container ">
    <h1><%= @post.title %></h1>
    <p><%= @post.display_day_published %></p>
    <%= @post.body.html_safe %>
  </div>
</div>

<%# <%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>
